.header-btn {
  background: linear-gradient(145deg, #cad0d3, #ffffff);
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
  color: #ff5722;
  position: relative;
  border-radius: 8px;
  border: none;
  padding: 15px 35px;
  text-decoration: none;
  list-style: none;
  background-color: transparent;
}

.header-btn:hover {
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
  background: linear-gradient(145deg, #ffffff, #cad0d3);
  transform: translateY(-2px);
  transition: all 0.5s ease;
}

.header-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
