.hero-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 120px; /* Always here for navbar */
  background: #1b1f21;
  text-align: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
}

.greeting-text {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
  z-index: 10;
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20%,
  60% {
    transform: rotate(25deg);
  }
  40%,
  80% {
    transform: rotate(-25deg);
  }
}

.resume-button {
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .resume-button {
    position: static;
    margin: 20px auto 0;
    display: block;
    transform: none; /* Remove translate to avoid misalignment */
    text-align: center;
  }
}

.subtitle-text {
  font-size: 1.5rem;
  color: #fff;
}

.canvas-container {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0px;
}

.canvas {
  width: 100%;
  height: 100%;
}
