.header-container {
  padding-top: 200px;
  padding-inline: max(6vw, (100vw - 1280px) / 2);
  margin-block: min(2.5rem, calc(2vw + 2vh));
  border-radius: 8px;
  margin: 0 auto;
}

/* change font size to be responsive */
.header-title {
  font-size: 2.8em;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
  color: #333333;
}

.header-title .highlight {
  color: #ff5722;
}

.header-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
  color: #666666;
}

.header-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

.hero-image {
  width: 80%;
}

@media screen and (max-width: 991px) {
  .header-title {
    font-size: 2em;
  }
  .header-container {
    text-align: center;
  }
  .header-image {
    margin-left: 0;
    margin-top: 20px;
  }
  .hero-image {
    width: 50%;
  }
  .header-btn {
    margin-top: 20px;
  }
}
