.header-container {
  background-image: url("../../assets/header-background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  height: 100vh;
  width: 100%;
}
