.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.links {
  display: flex;
  gap: 16px;
  margin-left: auto;
  @media screen and (max-width: 991px) {
    display: none;
  }
}

.burgerMenu {
  display: none;
  @media (max-width: 991px) {
    display: block;
  }
}
