.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  background-color: #1b1f21;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
  box-sizing: border-box; /* include padding in the width calculation */
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%; /* prevent overflow beyond the full width */
  padding: 0 16px;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #c6d5d4;
}

.icon-text {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.links {
  display: flex;
  gap: 24px;
  margin-left: auto;
}

.links .nav-link,
.mobile-menu .mantine-Menu-item {
  color: #c6d5d4;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 8px 12px;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.links .nav-link:hover,
.mobile-menu .mantine-Menu-item:hover {
  color: #ffffff;
}

.links .nav-link::before,
.mobile-menu .mantine-Menu-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #716da8;
  border-radius: 4px;
  opacity: 0;
  transform: scale(0.9);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.links .nav-link:hover::before,
.mobile-menu .mantine-Menu-item:hover::before {
  opacity: 1;
  transform: scale(1);
}

/* custom Burger Icon */
.burgerMenu {
  display: none;
  position: relative;
  z-index: 1100;
}

@media (max-width: 991px) {
  .links {
    display: none;
  }

  .burgerMenu {
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1100;
  }

  .burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 24px;
    height: 24px;
  }

  .burger-icon span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .burger-icon.opened span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .burger-icon.opened span:nth-child(2) {
    opacity: 0;
  }

  .burger-icon.opened span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .burgerMenu .mantine-Menu-item {
    color: #c6d5d4;
    font-weight: 500;
  }

  .burgerMenu .mantine-Menu-item:hover {
    background-color: #716da8;
    color: #ffffff;
  }

  .mobile-menu {
    background-color: #1b1f21;
    box-sizing: border-box;
    width: 100% !important; /* override the element max-content default width */
    margin-top: 60px;
  }
  .mobile-menu-item {
    text-align: center;
  }
}
