.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  background-color: #1b1f21;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #c6d5d4;
}

.icon-text {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.links {
  display: flex;
  gap: 24px;
  margin-left: auto;
}

.links .nav-link,
.mobile-menu .mantine-Menu-item {
  color: #c6d5d4;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 8px 12px;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.links .nav-link:hover,
.mobile-menu .mantine-Menu-item:hover {
  color: #ffffff;
}

.links .nav-link::before,
.mobile-menu .mantine-Menu-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #716da8;
  border-radius: 4px;
  opacity: 0;
  transform: scale(0.9);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.links .nav-link:hover::before,
.mobile-menu .mantine-Menu-item:hover::before {
  opacity: 1;
  transform: scale(1);
}

/* Burger Menu */
.burgerMenu {
  display: none;
}

@media (max-width: 991px) {
  .links {
    display: none;
  }

  .burgerMenu {
    display: block;
  }

  .burgerMenu .mantine-Menu-item {
    color: #c6d5d4;
    font-weight: 500;
  }

  .burgerMenu .mantine-Menu-item:hover {
    background-color: #716da8;
    color: #ffffff;
  }
}
