.carousel-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%; /* Set carousel width to 50% of the page */
  overflow: hidden;
}

.carousel-slide {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-image {
  width: 100%;
  height: 400px; /* Set a fixed height */
  object-fit: cover;
  border-radius: 0.5rem;
}

.button-container {
  position: absolute;
  bottom: 20px; /* Adjust bottom position */
  display: flex;
  gap: 1rem;
  z-index: 10;
}

.carousel-button {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  color: white;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  color: white;
  z-index: 10;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.inactive-slide {
}
.prev-slide {
  /* only show right 50% of it. make it fade into background from right to left with gradient*/
}
