.carousel-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  overflow: hidden;
}

.carousel-slide {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.button-container {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 1rem;
  z-index: 10;
  background-color: transparent;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  color: white;
  z-index: 10;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.inactive-slide {
}
.prev-slide {
  /* only show right 50% of it. make it fade into background from right to left with gradient*/
}
